/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* quotes */
q { quotes: '"' '"' "'" "'"; }
q:before { content: open-quote; }
q:after  { content: close-quote; }



/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-family: 'Varela Round', sans-serif;
}



/* Introduction section, entry page - Start */


header{
    background-image: url('../img/bg1.jpg');
    background-size:cover;
    height:500px;
    
    background-attachment:fixed;
}

#header-text {
    position:relative;
    top:275px;
}

/* Introduction section, entry page - End */


/* Sweets Container view - Start */
.modal-content {
    background-color: #999;
}

.aboutRestory {
    border-left:1px solid #ccc;
    font-size:12px;
    margin-top:10px;
    height:28px;
}


.story-image {
    height: auto;
    width: 100%;
    border: 3px solid #ccc;
    cursor: pointer;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: #ccc;
    background-color: rgb(42, 42, 42);
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: 0px;

    z-index:1032;
}

.snipit {
    height: 75px;
    margin-bottom:-100px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border:1px solid #ccc;
    font-size:14px;
    position:relative;
    top: -75px;
    transition-duration: 0.4s;

}

.info-icon {
    /* height: 120px; */
    margin-bottom:-100px;
    opacity: 1;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border:1px solid #ccc; */
    position:relative;
    top: -50px;
    transition-duration: 0.4s;
}

.info-icon span {
    height: 25px;
    width: 40px;
    padding: 3px 0 0 9px;
    background-color: rgba(0, 0, 0, 0.5);
}

div.row:hover .info-icon {
    opacity: 0;
}

div.row:hover .snipit {
    opacity: 1;
}


.fullscreen-icon{
  position:relative;
  top:23px;
  width:30px;
  background-color:rgba(0, 0, 0, 0.5);
  height:22px;
  padding-left:5px;
  opacity:0;
}
div.row:hover .fullscreen-icon {
  opacity:1;
}

#modal-content, #modal-content a{
    color: #000;
    text-shadow: none;
}

body .modal-open {
    margin-right: 0px;
}

.modal-dialog {
    margin: 0px auto;
}

.panel-body {
  color:#000;
}

.panel-footer {
  color:#000;
}
.panel-footer a,
a:focus,
a:hover {
  color: #000;
}
/* Sweets Container view - End */

footer {
    font-size:16px;
    margin-top:-15px;
    border-top: 1px solid #ccc;
    margin-top:10px;
}


