<html>
  <head>
    <title>Narrative Template 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/narrative-theme2.css">
    <script type="text/javascript" src="//underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="//backbonejs.org/backbone-min.js"></script>  
    <script type="text/javascript" src="js/waypoints.min.js"></script>


    <!-- <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" data-toggle="tooltip" title="Introduction" data-placement="bottom"  href="#intro">RESTORY</a>
      </div>
      </nav>
      <header class="row" >
      <div id="header-text">
        <h2>Story HEADING</h2>
        <h3></h3>
        <div class="col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-xs-6 col-sm-6">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim in. Suspendisse vel nibh blandit, euismod mi et, fringilla leo. Curabitur at urna eu massa scelerisque tempus placerat faucibus massa. Vivamus rhoncus feugiat mi, sit amet vulputate quam molestie rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </p>
        </div>
        </header>

        <div class="main container-fluid aloha-editable" >


          <section class="row" id="story-content">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <h2></h2>
            <h3></h3>
            <div class="col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-xs-6 col-sm-6">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum.  </p>
              <div id="5332"></div>
              <div id= "5402"></div>
              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. 

              </p>

              <div id="5327"></div>

              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div id="5328"></div>

              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim in. Suspendisse vel nibh blandit, euismod mi et, fringilla leo. 
              </p>
              <div id="5327"></div>

              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

              <div id="5329"></div>
              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum. </p>

              <div id="5330"></div>


              <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <div id="5331" ></div>

            </div>


          </div>
          </section>



          <section class="" id="about">
          <div class="modal fade" id="aboutModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-left" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">About</h4>
                </div>
                <div class="modal-body">
                  <h2> ABOUT HEADING </h2>
                  <hr style="width:400px;"/>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim in. Suspendisse vel nibh blandit, euismod mi et, fringilla leo. </p>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim in. Suspendisse vel nibh blandit, euismod mi et, fringilla leo. </p>
                  <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel nulla non sem consequat pretium vitae eget leo. Nulla ut risus auctor, tincidunt odio in, pretium ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim in. Suspendisse vel nibh blandit, euismod mi et, fringilla leo. </p>
                  <!--p>Mankind's early effort to preserve and pass information over
                  generations and across communities was achieved through telling and
                  re-telling of stories through mediums like paintings, sculptures,
                  songs, dance, oral narratives and others. We seek to support
                  such story telling efforts (re-stories) by leveraging social
                  networking and the Web.</p>

                  <p>The Dasara narrative is our first version of Restory, where we are
                  illustrating Dr. Chaluvaraju's projection of Dasara Festival, and we
                  start with his oral narrative.
                  The narrative is then converted to text, and thus starts our journey
                  to restorify this narrative into Visual narrative. Online material
                  such as images, videos, animations, etc., can be annotated and used in
                  a story conext.</p>

                  <p>For our first version, we are using annotation information of images
                  and text that are available in a store of messages that link the web
                  data ( <a target="_blank" href="http://digitalhampi.swtr.in">digitalhampi.swtr.in</a> ). The images required for the narrative
                  is tagged appropriately.
                  Example: the pictures displayed in Mysooru Dasara section of this Re-story is tagged as Chaha,
                  Dasara, Mysore, Royal, name of ritual. The annotated source can be
                  queried with different parameters like, ID, User, Tags and more
                  configurable options.</p>

                  <p>You can click on the images in the narrative to enlarge, and you will find
                  the lead EXPLORE <a target="_blank" href="http://restory.swtr.us">restory.swtr.us</a> to see images related to this story,
                  tagged by users and ANNOTATE will lead to staging where you can annotate. Annotate and explore the inter-connections that
                  surface from this story. You will also be able to re-story and create
                  your own version of the story. </p>
                  <p>To see a short demo video of restory, <a
                    href="https://www.dropbox.com/s/w81dlze5tjb9xge/restory%20final%20%20music.mp4?dl=0"
                    target="-blank">click here</a>
                  <p>If this has kindled your imagination, or you have questions on how to create your own re-story? and for more...
                  contact vijayanagara at janastu dot org
                  </p-->



                </div>
                <div class="modal-footer">

                  <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button-->
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

          </section>

          <footer>
          <div class=container>
            &#0169; Copyright 2014
          </div>
          </footer>
          <script type="text/template" id="story-image-template">
            <div class="row">
              <!-- <a href='#' data-toggle="modal" data-target="#lightbox"> -->
                <div class="fullscreen-icon pull-right"><span class="glyphicon glyphicon-fullscreen "></span></div>
                <img src=<%= where %> class="story-image img-responsive "  data-toggle="modal" data-target="#lightbox" target-id=<%= id %>></img>

                <!-- </a> -->
              <!-- <div class="hidden col-md-3" for=<%= id %>> -->
                <div class="snipit col-md-12 pull-left">
                  <% if(how.comment) { %>
                    <p><span><b><%= who %></b> <em>says</em> <q><%= how.comment %></q> </span></p>
                    <% } else { %>
                    <p><span>No comments!!</span></p>
                    <% } %>
                </div>
                <div class="info-icon col-md-12"><span class="glyphicon glyphicon-th-list pull-right"></span><div>
                    <!-- </div> -->
                </div>
              </script>
              <script type="text/template" id="swt-template">
                <p><span><%= who %> has annotated <a href=<%= where %>>this</a> image.</span></p>
                <p>Tags: <b> <%= how.tags %> </b> </p>
                <a class="pull-right" target="_blank" href=<%= annotate %> > / Annotate! </a>
                <a class="pull-right" target="_blank" href=<%= explore %>>Explore &nbsp;</a>
              </script>
              <script  type="text/template" id="txt-anno-template">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong> Comment: </strong><h3
                      class="panel-title"> <%=
                      how.text %></h3></div>
                  <div class="panel-body">
                    <%= how.quote %> 
                  </div>
                  <div class="panel-footer"><strong> User: </strong> <em> Scribe
                      </em> as annotated the above quote from <a href=<%= where %> > <%=
                      where %> </a> with <strong> Tags: </strong> <%= how.tags %>  </div>
                </div>
              </script>
              <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
                  <div class="modal-content">
                    <div class="modal-body">
                      <img src="" alt="" />
                      <div id="modal-content"></div>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript" src="js/story.js"></script>
            </body>
          </html>
