<html>
  <head>
    <title>Restory Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/narrative-theme2.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-toggle="tooltip" title="Introduction"
          data-placement="bottom" href="#intro">RESTORY</a>
        </div>
    </nav>
    <header class="row" >
      <div id="header-text">
        <h2>Story HEADING</h2>
        <h3></h3>
        <div class="col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-xs-6 col-sm-6">
          <p> Let's try to create a simple Restory using this theme. </p>
        </div>
        </header>

        <div class="main container-fluid " >


          <section class="row" id="story-content">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
            <h2>What you should already know?</h2>
            <h3></h3>
            <div class="col-md-offset-3 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3 col-md-6 col-lg-6 col-xs-6 col-sm-6">
              <p>Basics about HTML, CSS and a wild imagination to use
              resources from the web to tel a story. </p>
              <div id="5438"></div>
              <h2> what you will need </h2>
              <p> Download or clone our Restory template available at
              <a href="https://github.com/janastu/restory-template">
                https://github.com/janastu/restory-template</a></p>
              <p>SWeets from a store you have subscribed. you can visit
              <a href="http://thestore.swtr.in/">http://thestore.swtr.in/</a>
              to subscribe</p>
              <p>If you want to create your own annotaions and SWeets about
              resources on web. You can visit <a
                href="http://restory.swtr.us/">http://restory.swtr.us/</a></p>
              <div id="5447"></div>
              <div id="5332"></div>
              <p>Now it's time to see how to get a SWeet or an annotated image
              into your Restory. Like the Cat pic above, and the Text box below
              is pulled from <a href="http://thestore.swtr.in/">http://thestore.swtr.in/</a>
              Visit <a href="http://restory.swtr.us/#/linked-data" >
                http://restory.swtr.us/#/linked-data</a> and click on Tags
              "lolcat" to see all the cat-images  you are seeing in this theme.
              </p>

              <div id="5414"></div>
              <p>This paragraph you are
              reading is text written by a nerd developing this theme for
              you. But, the White box you see above this paragraph, is not
              written by this same nerd. It is annotated paragraph from Wiki
              article on Lol cat.  </p>


              <div id="5327"></div>
              <div id="5328"></div>

              <div id="5327"></div>
              <h2> Enough with the Cats now </h2>
              <p> So, by now i assume you have the Restory Template downloaded
              into your computer. This current theme is from
              narrative-theme2.html, corresponding style sheet you should
              familiarise with will be narrative-theme2.css in css directory, and a javascript
              file in JS directory chapters.js</p>


              <div id="5451"></div>
              <p>Let's first open the narrative-theme2.html in your favourite
              text editor, or a note pad will do.go to line no. 3, and give a
              Title to your story. now to line no. 27 to give a heading to your
              story.   </p>
              <p>Now you will need a list of SWeet Id's to pull a particular
              Image or text into our story. the below cat image is from SWeet
              Id 5331, you create a div with the Id in it like shown below in
              the HTML file.  </p>
              <div id="5328" ></div>
              <h2> How to find a SWeet ID </h2>
              <p>Visit <a
                href="http://thestore.swtr.in/">http://thestore.swtr.in/</a> to
              locate the SWeet you want in your story and click on the
              icon <span class="glyphicon glyphicon-share"></span> in
              the right bottom corner of the box and you will find the SWeet ID
              in the browser URL <a href="http://thestore.swtr.in/sweets/5327">
                http://thestore.swtr.in/sweets/5444</a> is the url for the cat
              pic above.  </p>

              <p>That is about fetching annotated content from a store. If you
              want to add your own narrative, that much simple. insert your
              text between &lt;p&gt; and &lt;/p&gt; tags, in the HTML file, which will
              generate a paragraph in the story. </p>
              <!-- exercise area start -->
              <h2>Exercise Area </h2>
              <h3> Task 1 </h3> <p> Get a lolcat annotated image below this
              line. </p>

              <h3> Task 2 </h3> <p> Print or display the SWeet ID of the Lolcat
              annotation here</p>
              <!-- exercise area ends -->

              <h2> Haven't you got enough of these cats yet?? Lol... </h2>
              <p> To get annotations with other tags, or from a different user,
              and customise, you will have to make a javascript call in
              js/chapters.js file. At present you can see it's a JSON format,
              meaning a key value pair 4 items. el, who, what and tag are the
              Keys which will be constant. the Values can be changed by the
              User.</p>
              <p>el is the HTML section tag, inside which you want a particular
              set of SWeets. In this theme it is always "#story-content". 
              WHO defines the user of the SWeet, WHAT defines type such as
              img-annor for image annotation and  txt-anno for text annotation.
              Tag will be the common Tag across all the sweets from that
              section. </p> 
              <p> </p>
              <div id="5450"></div> 
              <p> For detailed user manual About using the SWTR App, visit <a
                href="https://docs.google.com/a/servelots.com/document/d/1fVunquNGfwx3sbtiiox9FOnyjNJcftS8lazce33fYMw/"
                target="_blank">Click here...</a> 
          </div>
          <!-- Do not make any changes below this section -->

        </div>
      </section>



      <section class="" id="about">
        <div class="modal fade" id="aboutModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-left"
                data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">About</h4>
              </div>
              <div class="modal-body">
                <h2> ABOUT HEADING </h2> <hr style="width:400px;"/>
		            <p> Lorem ipsum dolor sit amet, consectetur adipiscing
		            elit. Maecenas vel nulla non sem consequat pretium vitae eget
		            leo. Nulla ut risus auctor, tincidunt odio in, pretium
		            ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim
		            in. Suspendisse vel nibh blandit, euismod mi et, fringilla
		            leo. </p>
		            <p> Lorem ipsum dolor sit amet, consectetur adipiscing
		            elit. Maecenas vel nulla non sem consequat pretium vitae eget
		            leo. Nulla ut risus auctor, tincidunt odio in, pretium
		            ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim
		            in. Suspendisse vel nibh blandit, euismod mi et, fringilla
		            leo. </p>
		            <p> Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Maecenas vel nulla non sem consequat pretium vitae eget
                leo. Nulla ut risus auctor, tincidunt odio in, pretium
                ipsum. Mauris congue nibh ipsum, in ultrices sem dignissim
                in. Suspendisse vel nibh blandit, euismod mi et, fringilla
                leo. </p> <!--p>Mankind's early effort to preserve and pass
                information over generations and across communities was
                achieved through telling and re-telling of stories through
                mediums like paintings, sculptures, songs, dance, oral
                narratives and others. We seek to support such story telling
                efforts (re-stories) by leveraging social networking and the
                Web.</p>

                    <p>The Dasara narrative is our first version of Restory,
                      where we are illustrating Dr. Chaluvaraju's projection of
                      Dasara Festival, and we start with his oral narrative.
                      The narrative is then converted to text, and thus starts
                      our journey to restorify this narrative into Visual
                      narrative. Online material such as images, videos,
                      animations, etc., can be annotated and used in a story
                      conext.</p>

<p>For our first version, we are using annotation information of images and
  text that are available in a store of messages that link the web data
  ( <a target="_blank"
  href="http://digitalhampi.swtr.in">digitalhampi.swtr.in</a> ). The images
  required for the narrative is tagged appropriately.  Example: the pictures
  displayed in Mysooru Dasara section of this Re-story is tagged as Chaha,
  Dasara, Mysore, Royal, name of ritual. The annotated source can be queried
  with different parameters like, ID, User, Tags and more configurable
  options.</p>

<p>You can click on the images in the narrative to enlarge, and you will find
  the lead EXPLORE <a target="_blank"
  href="http://restory.swtr.us">restory.swtr.us</a> to see images related to
  this story, tagged by users and ANNOTATE will lead to staging where you can
  annotate. Annotate and explore the inter-connections that surface from this
  story. You will also be able to re-story and create your own version of the
  story. </p>
<p>To see a short demo video of
                                            restory, <a href="https://www.dropbox.com/s/w81dlze5tjb9xge/restory%20final%20%20music.mp4?dl=0"
                                            target="-blank">click here</a>
<p>If this has kindled your imagination, or you have questions on how to create
  your own re-story? and for more...  contact vijayanagara at janastu dot org
</p-->



              </div>
              </section>

      <footer>
        <div class=container>
          &#0169; Copyright 2014
        </div>
      </footer>
      <script type="text/template" id="story-image-template">
        <div class="row">
          <!-- <a href='#' data-toggle="modal" data-target="#lightbox"> -->
          <div class="fullscreen-icon pull-right"><span class="glyphicon
          glyphicon-fullscreen "></span></div> <img src=<%= where %>
          class="story-image img-responsive " data-toggle="modal"
          data-target="#lightbox" target-id=<%= id %>></img>

          <!-- </a> --> <!-- <div class="hidden col-md-3" for=<%= id %>> -->
          <div class="snipit col-md-12 pull-left">
            <% if(how.comment) { %>
            <p><span><b><%= who %></b> <em>says</em> <q><%= how.comment
            %></q> </span></p> <% } else { %>
            <p><span>No comments!!</span></p>  <% } %>
          </div>
          <div class="info-icon col-md-12"><span class="glyphicon
              glyphicon-th-list pull-right"></span><div> <!-- </div> -->
            </div>
      </script>
      <script type="text/template" id="swt-template">
        <p><span><%= who %> has annotated <a href=<%= where %>>this</a>
        image.</span></p>
        <p>Tags: <b> <%= how.tags %> </b> </p> <a class="pull-right"
        target="_blank" href=<%= annotate %> > / Annotate! </a>
        <a class="pull-right" target="_blank" href=<%= explore %>>Explore
        &nbsp;</a>
    </script>
      <script  type="text/template" id="txt-anno-template">
                <div class="panel panel-default">
                  <div class="panel-heading"><strong> Comment: </strong>
                    created on <%= created %><h3
                      class="panel-title"> <%=
                      how.text %></h3> </div>
                  <div class="panel-body">
                    <%= how.quote %> 
              </div>
              <div class="panel-footer"><strong> User: </strong> <em>@<%= who %>  
                </em> as annotated the above quote from <a href=<%= where %> > <%=
                where %> </a> with <strong> Tags: </strong> <%= how.tags %>.
              <a href="http://restory.swtr.us/"
                target="_blank"> Click here </a> to Annotate or browse other
              Annotations </div>
            </div>
              </script>

      <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <button type="button" class="close hidden" data-dismiss="modal"
          aria-hidden="true">×</button>
          <div class="modal-content">
            <div class="modal-body">
              <img src="" alt="" />
              <div id="modal-content"></div>
            </div>
          </div>
        </div>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/waypoints.min.js"></script>

      <script type="text/javascript"
      src="//underscorejs.org/underscore-min.js"></script>
      <script type="text/javascript" src="//backbonejs.org/backbone-min.js"></script>
      <script type="text/javascript" src="js/chapters.js"></script>
      <script type="text/javascript" src="js/story.js"></script>
  </body>
</html>
